{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Race results</title>
</head>
<body>
<table border="1">
    <caption>Race Results</caption>
    <thead>
    <tr>
        <th>GP name</th>
        <th>Race date</th>
        <th>Winner's number</th>
        <th>Winner's name</th>
        <th>Winner's surname</th>
        <th>Winner's team</th>
        <th>Laps number</th>
        <th>Race time</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{record.gp_name.gp_name}}</td>
        <td>{{record.race_date}}</td>
        <td>{{record.winner_number.number}}</td>
        <td>{{record.winner_number.name}}</td>
        <td>{{record.winner_number.surname}}</td>
        <td>{{record.winner_number.team.team}}</td>
        <td>{{record.laps_number}}</td>
        <td>{{record.race_time|date:"h:i:s"}}.{{record.race_time.microsecond|stringformat:"06d"|slice:"3"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>