{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Drivers</title>
</head>
<body>
<table border="1">
    <caption>Drivers</caption>
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Team</th>
        <th>Current points</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{record.number}}</td>
        <td>{{record.name}}</td>
        <td>{{record.surname}}</td>
        <td>{{record.team.team}}</td>
        <td>{{record.current_points}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>