{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'drivers' %}">
        <button>Display all drivers</button>
    </a>
    <a href="{% url 'teams' %}">
        <button>Display all team specifications</button>
    </a>
    <a href="{% url 'races' %}">
        <button>Display all races</button>
    </a>
    <a href="{% url 'fastestlaptimes' %}">
        <button>Display fastest lap times</button>
    </a>
    <a href="{% url 'raceresults' %}">
        <button>Display race results</button>
    </a>
    <a href="{% url 'adddriver' %}">
        <button>Add driver</button>
    </a>
    <a href="{% url 'addteam' %}">
        <button>Add team</button>
    </a>
</body>
</html>